* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 800px;
  height: 70px;
  display: flex;
  border: 1px solid rgb(185, 231, 231);
  border-radius: 15px;
  margin: 8px;
  padding: 8px;
}

.wrapper:hover {
  border-color: #9cebe0;
}

.smBoxItem {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-image: url(https://cdn.pixabay.com/photo/2021/11/19/03/39/child-6807976_960_720.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
}

.smBoxItem2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*아래로 떨어지게 정렬*/
  transition: all 4000ms;
}

.smBoxItem2 span {
  padding-left: 10px;
}

.nameText {
  font-weight: bold;
  font-size: 18px;
}

.commentText {
  font-size: 15px;
}

.smBoxItem2 .nameText:hover {
  color: rgb(33, 136, 139);
  cursor: pointer;
}

.delBtn {
  height: 20px;
}